<div class="page-content-wrapper ">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title m-0">ویرایش رویداد های پیش رو</h4>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title-box -->
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">

            <h4 class="mt-0 header-title">! مدیر عزیز </h4>
            <p class="text-muted m-b-30 font-14">اطلاعات خواسته شده را تکمیل نموده سپس دکمه اضافه کردن را بزنید<br><span class="text-warning">عکس را حتما دوباره انتخاب کنید</span></p>
            <form action="/dashboard/edit-event?eventId=<%= event.id %> " method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">نام رویداد</label>
                <div class="col-sm-10">
                  <input name="title" type="text" maxlength="75" class="form-control" id="thresholdconfig" placeholder="نام رویداد را وارد کنید" value="<%= event.title %>" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">نام برگزار کننده</label>
                <div class="col-sm-10">
                  <input name="organizer" type="text" class="form-control" placeholder="نام برگزار کننده را وارد کنید" value="<%= event.organizer%>" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">مکان برگزاری</label>
                <div class="col-sm-10">
                  <input name="place" type="text" class="form-control" placeholder="مکان برگزاری را وارد کنید" value="<%= event.place %> " />
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">تاریخ برگزاری</label>
                <div class="col-sm-10 input-group input-daterange">
                  <input style="text-align: right;" name="date" type="text" id="start-date" class="form-control" placeholder="تاریخ برگزاری" value="<%= miladiToDigitShamsi(event.date)%>" />
                </div>
              </div>
              <div class="form-group row">
                <label for="example-time-input" class="col-sm-2 col-form-label">زمان</label>
                <div class="col-sm-10">
                  <input name="time" class="form-control" type="time" value="<%= event.time%>" id="example-time-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">مدت زمان رویداد</label>
                <div class="col-sm-10">
                  <input name="duration" type="number" class="form-control" placeholder="مدت زمان رویداد را بر حسب دقیقه وارد نمایید." value="<%= event.duration%>" />
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">مبللغ ورودی</label>
                <div class="col-sm-10">
                  <input name="price" type="number" class="form-control" placeholder="لطفا مبلغ ورودی را وارد کنید در صورت رایگان بودن 0 وارد کنید" value="<%= event.price %>" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">وضعیت</label>
                <div class="col-sm-10">
                  <select name="status" class="form-control">
                    <option value="null">انتخاب</option>

                    <option value="soon" selected>به زودی</option>
                    <option value="on performing">در حال اجرا</option>
                    <option value="performed">انجام شده</option>
                    <option value="cancled">لغو شده</option>

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">عکس</label>
                <div class="col-sm-10">
                  <input name="image" class="form-control" type="file" placeholder="فایل انتخاب کنید">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">توضیحات</label>
                <div class="col-sm-10">
                  <textarea class="cke_rtl" name="body"><%- event.body%></textarea>



                </div>
              </div>
              <%- include('./includes/errors.ejs') %>
              <button type="submit" class="btn mt-5 btn-primary btn-lg btn-block waves-effect waves-light">ویرایش</button>
            </form>
          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->
<script src="/dash/assets/js/jquery.min.js"></script>

<script type="text/javascript">
  $(function() {
    $("#start-date, #end-date").persianDatepicker({
      formatDate: "YYYY-0M-0D"
    });
  });
</script>
<script>
  CKEDITOR.replace('body', {
    contentsLangDirection: 'rtl',
  });
  CKEDITOR.addCss(".cke_editable{cursor:text; font-size: 18px; font-family: Arial, sans-serif;}");
</script>